language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - pypy
addons:
  postgresql: "9.3"
before_script:
  - psql -c 'create database terntest;' -U postgres
install: "pip install -r requirements.txt"
script: "flake8 tern && nosetests --tc=database.username:postgres --tc=database.dbname:terntest"
